{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h1>Serwis komputerowy - Lista zgłoszeń</h1>
    <a href="{{ url_for('add_request') }}" class="btn btn-primary mb-3">Dodaj zgłoszenie</a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Właściciel</th>
                    <th>Sprzęt</th>
                    <th>Przyjęto</th>
                    <th>Wydano</th>
                    <th>Status</th>
                    <th>Szczegóły</th>
                </tr>
            </thead>
            <tbody>
                {% for request in requests %}
                <tr>
                    <td>{{ request.business_name if request.business_name else request.client_name + ' ' + request.client_surname }}</td>
                    <td>{{ request.device_type }}</td>
                    <td>{{ request.date_received }}</td>
                    <td>{{ request.date_released or 'N/A' }}</td>
                    <td>{{ request.status }}</td>
                    <td><a href="{{ url_for('details', id=request.request_id) }}">Pokaż szczegóły</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}